.container-full
  .header.text-center
    = image_tag('me.jpg', class: 'img-thumbnail img-circle', width: '15%')
    .card
      #name jiunjiun
      %hr/

      %ul.list-inline
        %li
          = link_to 'Blog', 'http://jiunjiun.logdown.com/', target: '_blank'
        %li
          = link_to 'Facebook', 'http://fb.me/doublejiun', target: '_blank'
        %li
          = link_to 'GitHub', 'http://github.com/jiunjiun', target: '_blank'
        %li
          = mail_to 'quietmes@gmail.com', 'Email'

