.group.text-left
  %p Web
  %ul
    %li
      APB Shuttle -
      = link_to 'https://apb-shuttle.info/', 'https://apb-shuttle.info/', target: '_blank'
    %li
      IMST NKMU -
      = link_to 'http://imst.nkmu.edu.tw/', 'http://imst.nkmu.edu.tw/', target: '_blank'

.group.text-left
  %p Gems
  %ul
    %li
      Hasami - Taoyuan International Airport flight info
      = link_to 'https://github.com/jiunjiun/hasami', 'https://github.com/jiunjiun/hasami', target: '_blank'
    %li
      APB Shuttle API -
      = link_to 'https://github.com/jiunjiun/apb_shuttle_api', 'https://github.com/jiunjiun/apb_shuttle_api', target: '_blank'

.group.text-left
  %p Chrome Extension
  %ul
    %li
      THSR Rod -
      = link_to 'https://goo.gl/6mqfYe', 'https://goo.gl/6mqfYe', target: '_blank'
