<!DOCTYPE html>
<html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="jiunjiun ">
  <meta name="author" content="jiunjiun">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>jiunjiun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<div class="container-full">
  <div class="header text-center">
    <%= image_tag('me.jpg', class: 'img-thumbnail img-circle') %>
    <div class="card">
      <div id="name">jiunjiun</div>
      <hr/>
      <%= yield %>
      <div class="footer">
        <ul class="list-inline">
          <li>
            <%= link_to 'Blog', 'http://jiunjiun.logdown.com/', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'GitHub', 'http://github.com/jiunjiun', target: '_blank' %>
          </li>
          <li>
            <%= link_to 'Facebook', 'http://fb.me/doublejiun', target: '_blank' %>
          </li>
          <li>
            <%= mail_to 'quietmes@gmail.com', 'Email' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



</body>
</html>
